<div class="fem-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" *ngIf="selectedWidget.id">Editing {{originalName}}</h2>
    <h2 class="mdl-card__title-text" *ngIf="!selectedWidget.id">Create New Widget</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <form [formGroup]="widgetForm" (submit)="saved.emit(selectedWidget)" novalidate>
      <div class="mdl-textfield mdl-js-textfield">
        <label>Widget Name</label>
        <input formControlName="widgetName" [(ngModel)]="selectedWidget.name" name="name" placeholder="Enter a name" class="mdl-textfield__input"
          type="text">
      </div>

      <div class="mdl-textfield mdl-js-textfield">
        <label>Widget Price</label>
        <input formControlName="widgetPrice" [(ngModel)]="selectedWidget.price" name="price" placeholder="Enter a price" class="mdl-textfield__input"
          type="text">
      </div>
      <button type="submit" [disabled]="!widgetForm.valid" class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect">Save</button>
    </form>
  </div>
</div>
